<!DOCTYPE html>
<html>
	<head>
		<title>Bitly Clone</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="js/bitly-clone.js"></script>
	</head>
	<body>
		<div class="container top">
		    <div class="box">
                <form method="post">
                            <input type="text" placeholder="Paste a link to shorten it" name="shortener"/>
                            <input type="submit" value="Shorten" class="btn shortener"/>
                            
                </form>
		    </div>  
		    <div class="box2">
		        <div class="urlError">{{error}}</div> 
		    </div>
		    
		    <center><h1>Bitly Clone</h1></center>
		</div>    

		<footer class="footer">
			<div class="container">
				<center><p>made with <span class="heart">&hearts;</span> by Timur Ridjanovic <a href="https://github.com/timurridjanovic/interactive-resume" target="_blank">source @ github</a></p></center>
			</div>
		</footer>	
	
	
	</body>
</html>
